* {
  border-width: 0px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/***************
      EFFECTS
   *************/

.shadow {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

/***************
      TYPOGRAPHY
   *************/

/* Font Weight */

.font-light {
  font-weight: 300;
}

/***************
      LAYOUT
   *************/

/* Container */

.container {
  width: 100%;
}

/* Display */

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

/***************
      SPACING 
   *************/

/* Margin */

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}

/* Padding */

.p-3 {
  padding: 0.75rem;
}
.pl-3 {
  padding-left: 0.75rem;
}

/***************
      BORDERS 
   *************/

/* Border Widths */

.border-l-4 {
  border-left-width: 4px;
}

/* Border Styles */

.border-solid {
  border-style: solid;
}

/* Border Colors */

.border-purple-800 {
  border-color: #553C9A;
}
.border-purple-900 {
  border-color: #44337a;
}
