#!/usr/bin/env ruby

passthrough '/gallery/*'

compile '/index.erb' do
  filter :erb
  layout '/default.*'
  write '/index.html'
end

compile '/photography/**/*', rep: :thumbnail do
  filter :thumbnailize, width: 200
  write item.identifier.without_ext + '-thumbnail.' + item.identifier.ext
end

compile '/sitemap.xml.*' do
  filter :erb
  write '/sitemap.xml'
end

compile '/index.html' do
  layout '/default.*'
  write '/index.html'
end

compile '/**/*.html' do
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.erb' do
  filter :erb
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
