<div class="row">
  <div class="col-md-6">
    <h2>Gear</h2>
    <hr />
    <p>Canon EOS Rebel T3i</p>
  </div>
  <div class="col-md-6">
    <% @items.find_all('/photography/**/*').each do |img| %>
      <a href="<%= img.path %>">
        <img src="<%= img.path(rep: :thumbnail) %>">
      </a>
    <% end %>
  </div>
</div>
