h4,
h3,
h2,
h1,
nav {
  font-family: "Oswald", sans-serif;
  color: #f5563d;
}

nav {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

p,
li {
  color: #c1c3c6;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #58a3f3;
}

#header {
  background-image: url("/img/header.jpg");
  min-height: 900px;
  margin-top: -30px;
  padding-top: 100px;
}

.dark {
  background: #2e3741;
}

.container-fluid {
  padding-top: 30px;
}
